---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# {{ site.title }}

> {{ site.description }}

## Author
- [{{ site.author }}](https://greynewell.com)

## Source
- [GitHub](https://github.com/{{ site.repo }})
